{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
      <div class="row">
          <section class="col-lg-12 col-xs-12">
              <div class="box box-info">
                  <div class="box-header with-border">
                      <h3 class="box-title">celery worker</h3>
                  </div>
                  <div class="box-body">
                      <table id="workers-table" class="table table-bordered table-striped">
                          <thead>
                          <tr>
                              <th>Worker Name</th>
                              <th>Status</th>
                              <th>Active</th>
                              <th>Processed</th>
                              <th>Failed</th>
                              <th>Succeeded</th>
                              <th>Retried</th>
                              <th>Load Average</th>
                          </tr>
                          </thead>
                      </table>
                  </div>
              </div>
          </section>
      </div>

          <div class="row">
          <section class="col-lg-12 col-xs-12">
              <div class="box box-info">
                  <div class="box-header with-border">
                      <h3 class="box-title">Broker</h3>
                  </div>
                  <div class="box-body">
                      <table id="rabbitmq-table" class="table table-bordered table-striped">
                          <thead>
                          <tr>
                              <th>Name</th>
                              <th>Messages</th>
                              <th>Unacked</th>
                              <th>Ready</th>
                              <th>Consumers</th>
                              <th>Idle since</th>
                          </tr>
                          </thead>
                      </table>
                  </div>
              </div>
          </section>
      </div>
{% endblock %}
{% block scripts-files %}
    <script>
        $(document).ready(function () {

        $('#workers-table').DataTable({
            rowId: 'name',
            searching: true,
            paginate: false,
            select: false,
            scrollCollapse: true,
            ajax: "{% url 'api_flower' %}",
            order: [
                [1, "asc"]
            ],
            columnDefs: [{
                targets: 0,
                data: 'hostname',
                defaultContent: 'N/A'
            }, {
                targets: 1,
                data: 'status',
                render: function (data, type, full, meta) {
                    if (data) {
                        return '<span class="label label-success">Online</span>';
                    } else {
                        return '<span class="label label-danger">Offline</span>';
                    }
                }
            }, {
                targets: 2,
                data: 'active',
                defaultContent: 0
            }, {
                targets: 3,
                data: 'task-received',
                defaultContent: 0
            }, {
                targets: 4,
                data: 'task-failed',
                defaultContent: 0
            }, {
                targets: 5,
                data: 'task-succeeded',
                defaultContent: 0
            }, {
                targets: 6,
                data: 'task-retried',
                defaultContent: 0
            }, {
                targets: 7,
                data: 'loadavg',
                render: function (data, type, full, meta) {
                    if (Array.isArray(data)) {
                        return data.join(', ');
                    }
                    return data;
                }
            } ]
        });

    });

    </script>
    <script>
        $(document).ready(function () {
            $('#rabbitmq-table').DataTable({
                rowId: 'name',
                searching: true,
                paginate: false,
                select: false,
                scrollCollapse: true,
                ajax: "{% url 'api_rabbitmq' %}",
                order: [
                    [1, "asc"]
                ],
                columnDefs: [{
                    targets: 0,
                    data: 'name',
                    defaultContent: 'N/A'
                }, {
                    targets: 1,
                    data: 'messages',
                    defaultContent: 'N/A'
                }, {
                    targets: 2,
                    data: 'messages_unacknowledged',
                    defaultContent: 'N/A'
                }, {
                    targets: 3,
                    data: 'messages_ready',
                    defaultContent: 'N/A'
                }, {
                    targets: 4,
                    data: 'consumers',
                    defaultContent: 'N/A'
                }, {
                    targets: 5,
                    data: 'idle_since',
                    defaultContent: 'N/A'
                } ]
            });
        });
    </script>
{% endblock %}