<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>dev_task | Log in</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/AdminLTE.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/blue.css' %}">
<style type="text/css">
 body{
        overflow-x:hidden;
        overflow-y:hidden;
     }
</style>
  <script src="{% static 'js/html5shiv.min.js' %}"></script>
  <script src="{% static 'js/respond.min.js' %}"></script>
  <!-- Google Font -->
  <link rel="stylesheet" href="{% static 'fonts/googleapis.css' %}">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="./index.html"><b>dev_task</b><h4>计划任务管理平台</h4></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <form action="./" method="post">{% csrf_token %}
      <div class="form-group has-feedback">
          <div class="control {% if login_form.errors.username %}errorput{% endif %}">
            <input type="text" class="form-control" placeholder="Username" name="username">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
      </div>
      <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Password" name="password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          <div class="error btns login-form-tips">{% for key,error in login_form.errors.items %}{{ key }}:{{ error }}{% endfor %}{{ msq }}</div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/icheck.min.js' %}"></script>
</body>
</html>